.card{
    transition: transform .4s;
    width: 20vw;
    height: 20vw;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    &__img{
        width: 100%;
        height: 80%;
        border-radius: 4px 4px 0px 0px;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__span{
        text-align: center;
        margin: 0;
        width: 100%;
    }
    &:hover{
        transform: translateY(-10px);
    }
    
    .image{
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}